@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body,html {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

#myContainer
{
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: white;

}

.layout
{
  height: inherit;
}

#content
{
  width: 100%;
  display: flex;
  margin: 5px;
  padding: 10px;
  top: 15vh;
  position: fixed;
}
.table-wrapper {
  max-height: 50vh;
  overflow: auto;
  display:inline-block;
}

.displayLeft
{
  width: 50%;
  padding: 5px;


}
.displayRight
{
  text-align: center;
  padding: 5px;
  width: 50%;
}

.displayUser
{
  display: inline-block;
}

.textInfo
{
  padding: 5px;
  text-align: center;
}
.managerMethods
{
  margin-top: 10px;
  text-align: left;
}


.adminLogin
{
  border: 1px groove grey;
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  width: 75vh;
  text-align: left;
}
